{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Outbound</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        <link rel="stylesheet", href="{% static 'css/custom.css' %}">

        <!-- Styles -->


    </head>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="top-left links">
            <a href="admin/" style="color: white">Admin</a>
            </div>
                            <div class="top-right links">
                                            <a href="{% url 'user_login' %}" style="color: white">User Login</a>




                                    </div>

            <div class="content">
                <div class="title m-b-md">
                    Outbound
                </div>

            </div>
        </div>
            <div class="powered-by" style="bottom: 0; right: 0; position: absolute;margin-bottom: 10px; margin-right: 10px; color: white"><span>Powered By</span>
                <img src="https://lms.rubicoit.com/images/logo.png" alt="LMS">
            </div>
    </body>
</html>