{% extends 'Login/base.html' %}
{% block content %}
    <body class="hold-transition login-page"><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class=" alert alert-info alert-dismissible">
            <h2 class="text-center">your password has been reset kindly login by clicking below </h2>

        <a class="text-red text-cente" href="{% url 'user_login' %}">Go back to Login page</a>
      <!-- /.login-box --></div>

      <!-- jQuery 3 -->
      <script>
        $(function () {
          $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
          });
        });
      </script>
</body>
{% endblock content %}